<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metrics report</title>
</head>
<body>

<table>
    <tr>
        <td><b>Name</b></td>
        {% for metric_name in metric_names %}
        <td><b>{{ metric_name }}</b></td>
        {% endfor %}
    </tr>

    {% for method in methods_metrics %}
        {% set method_name = method["method_name"] %}
        {% set method_slices = method["method_slices"] %}

        {% for slice in method_slices %}
            {% set slice_name = slice["slice_name"] %}
            {% set slice_metrics = slice["slice_metrics"] %}

            {% if slice_name == "default" or display_slices == true %}
            <tr>
                <td>{{ method_name }} {{ slice_name }}</td>

                {% for metric in slice_metrics %}
                    {% set metric_name = slice["metric_name"] %}
                    {% set metric_data = slice["metric_data"] %}

                    {% set mean_value = metric_data["mean_value"] %}
                    {% set std_value = metric_data["std_value"] %}

                    <td>{{ mean_value|round(3, 'floor') }} &plusmn; {{ std_value|round(3, 'floor') }}</td>
                    <td>{{ metric_data["best_ids"] }}</td>
                    <td>{{ metric_data["avg_ids"] }}</td>
                    <td>{{ metric_data["worst_ids"] }}</td>
                {% endfor %}

            </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}

</table>

</body>
</html>
